$input-selector:                '.input'; // Selector, for example: .input or input.form-control etc.
$textarea-selector:             '.textarea'; // Selector, for example: .textarea or textarea.form-control etc.

$build-input:                   false; // If false, css styles for $input-selector and $textarea-selector won't be built

$resetcss:                      true; // Use box-sizing: border-box;

$height:                        38px; // Height of UI elements: select, input
$height-small:                  29px; // Height of small UI elements: select, input
$width-dropdown-full:           true; // If true, width of select's dropdown will be same as selectbox
$margin:                        8px; // Default padding of all UI elements: text in selectbox, labels from checkboxes etc.

$font-size-text:                16px; // Property font-size of text
$font-height-text:              24px; // Property line-height of text
$font-family-text:              -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif; // Property font-family of text
$font-size-select:              14px; // Property font-size of text in selects dropdown

$font-size-input:               15px; // Property font-size of input and textarea
$font-size-input-small:         13px; // Property font-size of small input and textarea
$font-height-input:             $font-height-text; // Property line-height of input and textarea
$font-family-input:             $font-family-text; // Property font-family of input and textarea

$color-active:                  #007bff; // Default active color of UI elements: checks, dots, angles, arrows etc.
$color-positive:                #28a745; // Checkbox and switchbox in colored version, number button
$color-negative:                #dc3545; // Checkbox and switchbox in colored version, number button

$bg:                            #fff; // Property background-color of all UI elements
$bg-disabled:                   #e9ecef; // Property background-color of elements with attr 'disabled'

$bg-selectbox-active:           #fff; // Property background-color of selected item in selectbox
$bg-selectbox-hover:            #f8f9fa; // Property background-color of hovered item in selectbox

$text-color:                    #000; // Property color
$text-color-hover:              $color-active; // Property color in hover status
$text-color-active:             $color-active; // Property color in active status
$text-color-placeholder:        #6c757d; // Property color of placeholders
$text-color-disabled:           #6c757d; // Property color of elements with attr 'disabled'

$border-width:                  1px; // Property border-width of all elements
$border-radius:                 4px; // Property border-radius of all elements exclude switchbox
$border-radius-switch:          $font-height-input/2; // Property border-radius of switchbox

$border-color:                  #ced4da; // Property border-color
$border-color-hover:            $border-color; // Property border-color of hovered elements
$border-color-active:           #80bdff; // Property border-color of active and focused elements
$border-color-disabled:         $border-color; // Property border-color of elements with attr 'disabled'

$boxshadow-input:               none; // Property box-shadow of input and textarea
$boxshadow-input-active:        0 0 0 0.2rem rgba(0,123,255,.25); // Property box-shadow of active input and textarea

$boxshadow-checkbox:            none; // Property box-shadow of checkbox, switchbox and radio
$boxshadow-checkbox-active:     0 0 0 0.2rem rgba(0,123,255,.25); // Property box-shadow of active checkbox, switchbox and radio

$boxshadow-selectbox:           none; // Property box-shadow of selectbox
$boxshadow-selectbox-active:    0 0 0 0.2rem rgba(0,123,255,.25); // Property box-shadow of active selectbox

$transition-duration:           .15s; // Property transition-duration
$transition-timing:             linear; // Property transition-timing-function